.App {
  text-align: center;
}
.brand{
  background-color: white;
  height: 40px;
  width: 90px;
}
.news{
  background-color: rgb(215, 40, 40);
  height: 40px;
  width: 100px;
}
img{
  height: 200px;
}